body {
    background-color: #e3f2fd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.outer-container {
    background-color: #ffeb3b;
    width: 300px;
    height: 200px;
    padding: 40px;
    border: 8px solid #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    background-color: #03a9f4;
    width: 200px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.Balance {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Deposit {
    background-color: #4caf50;
    color: white;
}

.Withdrawal {
    background-color: #f44336;
    color: white;
}
