.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.charts-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.chart-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}

.chart-wrapper {
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

