form {
    background-color: #fff8dc;
    width: 300px;
    height: auto;
    border: 5px solid black;
    border-radius: 12px;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #b0e0e6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
